/* ---------------------------------------------------------------------------------
  nuxt-app-components
  _fc-variables.scss
--------------------------------------------------------------------------------- */

@import "@/assets/scss/_variables.scss";

$control-line-color    :$theme-main0 !default;
// $control-line-color :#112288 !default;
$control-back-color    :#ffffff !default;
$control-fore-color    :$default-fore !default;

// 
$nac-control-height :42px !default;

//  影
$nac-control-box-shadow :( //
  "activate"            :inset 0px 0px 2px 2px #0d8ee4,
  "diff" :inset 0px 0px 2px 2px #fd9831be,
  "warn" : inset 0px 0px 3px 2px #f1000067,
  "disabled" :inset 0px 0px 3px 2px #cfcecebb,
) !default;


$nac-control-color :( //
  "default-back"   :#ffffff,
  "default-fore" :$control-fore-color,
  "default-line" :$control-line-color,
  "disabled-back" :#eeeeee,
  "disabled-fore" :#4b4b4b,
) !default;


$nac-control-header :( //
  "placeholder-fore" :#996655,
  "icon-require-back" :#af0000,
  "icon-require-fore" :#ffffff,
  "icon-disabled-back" :#727272,
  "icon-disabled-fore" :#ffffff,
) !default;

$nac-control-icon :( //
  "icon-calendar-fore" :#e26f2c,
  "icon-delete-fore" :#e03a3a,
  "icon-warn-fore" :#e03a3a,
  "divider-back" :#808080,
) !default;


$nac-control-header-icon :( //
  "max-word-message-default-back" :#2fa412,
  "max-word-message-lebel1-back" :#fdc90d,
  "max-word-message-lebel2-back" :#fd750d,
  "max-word-message-lebel3-back" :#fa541d,
  "max-word-message-lebel4-back" :#a94b4b,
  "max-word-message-default-fore" :#ffffff,
  "max-word-message-lebel1-fore" :#242627,
  "max-word-message-lebel2-fore" :#ffffff,
  "max-word-message-lebel3-fore" :#ffffff,
  "max-word-message-lebel4-fore" :#ffffff,
) !default;